<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Query</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</head>

<body>
<div class="col-md-8 col-md-offset-2">

    <div class="jumbotron" style="  background: #CCE6FF; border-radius: 10px">
        <h1>Image DataBase</h1>

        <p>Here you can search your images.. Just push the button and choose your images...</p>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">General Settings:</div>
                    <div class="panel-body">

                        {% csrf_token %}

                        <p>Num of Results:
                            <input type="number" data-bind="value:replyNumber" class="form-control" value="1" id="number" min="1"
                                   name="text" required/></p>

                        <div style="position:relative;">
                            <a class='btn btn-default'>
                                Choose Images...
                                <input type="file" id="files" accept="image/*"
                                       style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);opacity:0;background-color:transparent;color:transparent;'
                                       onchange="fileSelected()" name="file" size="20" multiple required>
                            </a>

                            <p/>

                            <div id="fileName"></div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Histogram Dominance:</div>
                    <div class="panel-body">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsHist" id="ColorOnly" value="1">
                                ColorOnly
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsHist" id="MostlyColor" value="0.75">
                                MostlyColor
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsHist" id="Balanced" value="0.5" checked>
                                Balanced
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsHist" id="MostlyTexture" value="0.25">
                                MostlyTexture
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsHist" id="OnlyTexture" value="0">
                                OnlyTexture
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Distance:</div>
                    <div class="panel-body">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsDist" id="distance" value="distance" checked>
                                Euclid
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsDist" id="taxicab" value="taxicab">
                                Taxicab
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsDist" id="chebyshev" value="chebyshev">
                                Chebyshev
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <!--/span-->

        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <button type="submit" value="Upload" style="visibility: hidden" id="test" class="btn btn-primary"><span
                        class="glyphicon glyphicon-search"></span>Run Query
                </button>
            </div>
        </div>

    </form>
    <div class="row">
        <p><a class="btn btn-default" role="button" href="/home"><span class="glyphicon glyphicon-home"></span> HOME</a></p>
    </div>
    <!--/row-->
</div>
</body>

</html>
<script>
    function fileSelected() {
        var files = document.getElementById('files').files;

        if (files.length === 0) {
            return;
        }
        f = '<p>The Images are:';
        for (var i = 0; i < files.length; i++) {
            if (files[i]) {

                f = f + '<p><span class="label label-info">Image' + i.toString() + ': ' + files[i].name + "</span>";

            }
        }

        document.getElementById('test').style.visibility = 'visible';
        document.getElementById('fileName').innerHTML = f;


    }</script>